<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
{% for campo in formulario %}

    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}</label>
        <input type="{{campo.field.widget.input_type}}" name="{{ campo.name }}" id="" class="form-control" placeholder="{{ campo.label }}" aria-describedby="helpId"/>
    </div>
{% endfor %}
<input name="" id=""class="btn btn-success" type="submit" value="Enviar"/> <a name="" id="" class="btn btn-warning" href="{% url 'estudiantes' %}" role="button">Cancelar</a>
</form>