<div class="mb-3">
    <label for="" class="form-label">Nombre:</label>
    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"/>
    <small id="helpId" class="text-muted">Nombres completos</small>
    <br>
    <label for="" class="form-label">Apellido:</label>
    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"/>
    <small id="helpId" class="text-muted">Apellidos completos</small>
    <br>
    <label for="" class="form-label">Foto:</label>
    <input type="file" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"/>
    <small id="helpId" class="text-muted">Foto</small>
    <br>
    <label for="" class="form-label">Clase:</label>
    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"/>
    <small id="helpId" class="text-muted">Clase del estudiante</small>
    <br>
</div>

<a name="" id="" class="btn btn-primary" href={% url "estudiantes" %} role="button">Volver</a>

