{% extends "base.html" %}

{% load static %}

{% block titulo %}Asistencia{% endblock %}

{% block contenido %}
    <h1 style="color: #ff006e;">Asistencia</h1>
    <hr>
    <p>Este es el sistema de asistencias</p>
    <!-- ========== Start Section ========== -->
    <!-- bs5-card-head-foot -->
    <!-- ========== End Section ========== -->
    
    <div class="card">
        <div class="card-header">Listado de Estudiantes</div>
        <div class="card-body">
            <h4 class="card-title">Estudiantes</h4>
            
            
            <div
                class="table-responsive"
            >
            <a name="anadir" id="anadir" class="btn btn-success " href={% url "crear" %} role="button">Añadir</a>
                <table
                    class="table table-light"
                >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Estudiantes in estudiantes %}
                        <tr class="">
                            <td scope="row">{{Estudiantes.id}}</td>
                            <td>{{Estudiantes.nombre}}</td>
                            <td>{{Estudiantes.apellido}}</td>
                            <td><img src="{{Estudiantes.foto.url}}" alt="Foto de {{Estudiantes.nombre}}" width="100" height="100"></td>
                            <td>{{Estudiantes.clase}}</td>
                            <td>{% include "estudiantes/buttons.html" %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <a name="anadir" id="anadir" class="btn btn-success " href={% url "crear" %} role="button">Añadir</a>    
        </div>
        
        <div class="card-footer text-muted">Footer</div>
    </div>
    
{% endblock %}

{% block pie %} Asistencia - Foot {% endblock %}